<h1>{{typography.title}}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, alias.</p>

<h2>Headings</h2>

<div class="sg-example">
    <h1>H1 Heading</h1>
    <h2>H2 Heading</h2>
    <h3>H3 Heading</h3>
    <h4>H4 Heading</h4>
    <h5>H5 Heading</h5>
    <h6>H6 Heading</h6>
</div>