@import "../partials/variables";


/* MOBILE & DEFAULT STYLES
 *************************************************************/

.example-feature {
	height: 200px;
}

/* DESKTOP STYLES
 *************************************************************/

@media only screen and (min-width: $bp-tablet-min) {
	.example-feature {
		height: 588px;

		ul {
			li {
				border-bottom: 1px solid orange;
			}
		}
	}
}
