<!--[if lt IE 7]>      <html class="ie6"> <![endif]-->
<!--[if IE 7]>         <html class="ie7"> <![endif]-->
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]--><!doctype html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="Novelist, Murder mystery, Book, Author, Writer, Emmy Award Winner, Live to Air, Mystery Novels, Mystery Thrillers, Television Murder Mysteries, Murder Mysteries, New Murder Mystery Series, Jeffrey L. Diamond, Jeff Diamond, Crime Novels">
    <meta name="author" content="Jeffrey L Diamond">
    <title>Jeffrey L. Diamond | Official Author Website</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/main.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
            {{> body  }}
      </div>
      {{> footer}}
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/main.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-5596160-24', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>