<div class="author-section">
  <img src="img/author-jeff-diamond1.jpg" alt="Jeffrey L Diamond" class="img-responsive img-rounded"/> 
  <h2>About The Author</h2>
  <p>Jeffrey L. Diamond spent over four decades working in the trenches of network news covering stories on military spending, consumer fraud, political corruption, and medical malpractice. And like his fictional character, Diamond struggled with the new direction of programming at the end of his career as he produced a steady stream of stories on gangsters, drug dealers, murderers, rapists, and even a serial killer.</p>
  <p><a class="btn btn-default" href="author.html">Read More</a></p>
</div>

