<section class="endorsement-section">
	<blockquote class="featured">
		<p>“Jeff Diamond has translated his twenty-five years as one of television’s leading investigative reporters into a twisting and turning murder mystery that will keep you riveted.”</p>
		<footer><cite title="Source Title">Av Westin,</cite> former Vice President, ABC News Creative Development &amp; Executive Producer, 20/20</footer>
	</blockquote>
</section>