<footer class="footer well">
	<div class="footer-container">
		<p class="copyright">© 2015 Jeffrey L Diamond.</p>
		<span class="social-links pull-right">
			<a href="https://www.facebook.com/jeffrey.diamond.129"><i id="social" class="fa fa-facebook-square fa-3x"></i></a>
        	<a href="https://twitter.com/livetoair7"><i id="social" class="fa fa-twitter-square fa-3x"></i></a>	
		</span>
	</div>
</footer>