<nav class="nav-container well">
	<ul class="nav nav-inline">
		<li><a href="index.html">Home</a></li>
		<li><a href="author.html">Author</a></li>
		<li><a href="reviews.html">Reviews</a></li>
    <li><a href="the-book.html">The Book</a></li>
		<li><a href="book-club.html">Book Clubs</a></li>
		<li><a href="events.html">Events</a></li>
		<li><a href="contact.html">Contact</a></li>
	</ul>
</nav>