<div class="well pre-order">
  <h2>Available Now</h2>
  <div class="book-details">
    <p>The digital and paperback edition of Live to Air are available at any of the following online retailers:</p>
  </div>
  <div class="book-links">
    <ul>
      <li><a href="http://www.amazon.com/Live-Air-Jeffrey-L-Diamond/dp/1632990318/">Amazon</a></li>
      <li><a href="https://play.google.com/store/books/details/Jeffrey_L_Diamond_Live_to_Air?id=6YbGCQAAQBAJ&hl=en">Google Play</a></li>
      <li><a href="http://www.barnesandnoble.com/w/live-to-air-jeffrey-l-diamond/1121909138">Barnes and Noble</a></li>
      <li><a href="https://itunes.apple.com/us/book/live-to-air/id1003547431?mt=11">Apple iBooks</a></li>
    </ul>
  </div>
</div>
