@font-face {
  font-family: 'Graublau Web';
  src: url('FONT_NAME_GOES_HERE.eot');
  src: local('☺'),
       url('FONT_NAME_GOES_HERE.woff') format('woff'), url('FONT_NAME_GOES_HERE.ttf') format('truetype');
}