// Colours
$base-color: #ff0000;
$base-accent-color: #ed1d24;

$col-black: #000;
$col-grey: #c0c0c0;
$col-white: #FFF;

// Type Based Colours
$main-Title-Copy: #ed1d24;
$main-Sub-Title-Copy: #4d4f53;
$body-Copy: #868686;

// BreakPoints
$bp-mobile-min: 320px;
$bp-mobile-max: 640px;

$bp-tablet-min: 641px;
$bp-tablet-max: 1280px;

$bp-desktop-min: 1024px;
$bp-desktop-lrg: 1280px;
$bp-desktop-max: 1440px; 

// Spacing
$vertical-Spacing-Sml: 10px;
$vertical-Spacing-Med: 20px;
$vertical-Spacing-Lrg: 40px;
$vertical-Spacing-Xl: 60px;

// Padding
$container-padding-sml: 10px;
$container-padding-md: 20px;
$container-padding-lrg: 30px;
$container-padding-xlrg: 40px;

// Font sizes
$base-font-size: 14px;
$title-font-size: 50px;
$sub-title-font-size: 20px;
$hero-font-size: 26px;

// Line heights
$base-line-height: 16px;


