// Colours
$colBase: #000;
$colSecondary: #000;

$colBlack: #000;
$colGrey: #000;
$colWhite: #FFF;

// BreakPoints
$bpMobileMin: 320px;
$bpMobileMax: 520px;

$bpTabletMin: 640px;
$bpTabletMax: 1280px;

$bpDesktopMin: 1024px;
$bpDesktopMid: 1220px;
$bpDesktopMax: 1440px; 


