// Colours
$colBase: #ff0000; // Red - Light
$colSecondary: #ed1d24;

$colBlack: #242424;
$colGrey: #f6f6f6;
$colWhite: #FFF;

// Type Based Colours
$mainTitleCopy: #ed1d24;
$mainSubTitleCopy: #4d4f53;
$bodyCopy: #868686;

// BreakPoints
$bpMobileMin: 320px;
$bpMobileMax: 640px;

$bpTabletMin: 641px;
$bpTabletMax: 1280px;

$bpDesktopMin: 1024px;
$bpDesktopMid: 1280px;
$bpDesktopMax: 1440px; 

// Spacing
$verticalSpacingSml: 10px;
$verticalSpacingMed: 20px;
$verticalSpacingLrg: 40px;
$verticalSpacingXl: 60px;
