<div class="sg-hero">
	<div class="sg-hero-inner">
		<div class="sg-hero-copy">
			<h1>Style Guide</h1>
			<p>Bootstrap makes front-end web development faster and easier. It's made for folks of all skill levels, devices of all shapes, and projects of all sizes.</p>	
		</div>
	</div>
</div>