<div class="sg-hero">
	<div class="sg-hero-inner">
		<div class="sg-hero-copy">
			<h1>Short description of Product</h1>
			<p>A few reasons why this product is worth using, who is it for and why do they need it.</p>	
		</div>
	</div>
</div>