// Style Guide Specific Styles
@import "variables";

.sg-wrapper {
	max-width: $maxContainerWidth;
	margin: 0 auto;
	@include outer-container;
}

.sg-left-col {
	padding: $container-padding-md;
	float: left;
	width: 29%;
	margin-right: 1%;
}

.sg-right-col {
	padding: $container-padding-md;
	float: left;
	width: 69%;
	margin-left: 1%;
}

.sg-example {
	position: relative;
	padding: $container-padding-lrg;
	border:1px solid $col-grey;
}
.sg-example:after {
	content: "Example";
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 8px;
	color: $col-grey;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "Trade Gothic for Nike 365 BdCn", Hevitica, Arial, sans-serif;
}


