// Responsive
$max-container-width: 1024px;

$base-line-height: 16px;

// Padding
$container-padding-sml: 10px;
$container-padding-md: 20px;
$container-padding-lrg: 30px;
$container-padding-xlrg: 40px;