<div class="col-md-4 hidden-xs">
 	{{> book}}
 	{{> pre-order}}
</div>
<div class="col-md-8">
	{{> title }}
	{{> nav}}
	<div class="col-md-8 hidden-sm hidden-md hidden-lg">
 		{{> book}}
 		{{> pre-order}}
	</div>
	 <div class="col-md-8">
	    <h2 class="page-title">{{basename}}</h2>
		<h4>{{author.subTitle}}</h4>
		{{#each author.content}}
			<p>{{copy}}</p>
		{{/each}}
	  </div>

	  <div class="col-md-4">
	  	<img src="img/author-jeff-diamond1.jpg" alt="Jeffrey L Diamond" class="img-responsive img-rounded author-pic" />
	  </div>
</div>