<div class="col-md-4 hidden-xs">
 	{{> book}}
 	{{> pre-order}}
</div>
<div class="col-md-8">
	{{> title }}
	{{> nav}}
	<div class="col-md-8 hidden-sm hidden-md hidden-lg">
 		{{> book}}
 		{{> pre-order}}
	</div>
	<h2 class="page-title">{{basename}}</h2>
    <div class="agenda">
        <h5>Jeff Rutherford's Reading and Writing Podcast</h5>
        <p>Recently I had the pleasure of being interviewed on Jeff Rutherford's Reading and Writing Podcast where we talked about my newly released murder mystery, Live to Air.  The thirty minute interview includes a reading from the first chapter of my hard-hitting thriller set in the world of television news and an in-depth discussion of the storyline and characters, as well as insights into the creative process, my career as a broadcast journalist, and the influences that motivated me to embark on a second career as a novelist.  A link to the podcast will follow shortly.</p>
        <br>
        <div class="table-responsive">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="agenda-date active">
                        </td>
                        <td class="agenda-time active">
                        </td>
                        <td class="agenda-events active">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>